html
  head
    title todo list basic application
  body
    h1 todo application 
    //- should have used a form but since I wanted to detect the enter key my slef 
    div 

      label(for="addtodo") todo name 
      input(name='todo' id="addtodo")
      label done 
        input(type="checkbox" name="completed" id="done") 
    .todos
    script(src="/script.min.js")
